b {
    background-image: url(./src/assets/ifundo/destination/) ;
        background-image: url(src/assets/ifundo/crew/background-crew-mobile.jpg)
                        url() ;

    display: flex;
}